bin/**/*.js
lib/**/*.js
test/**/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# ignore this for public repository -> handled via parameter store
cdk.context.json

.temp
genesis*
